table
{
	font-family:arial;
}
h1
{
	font-size: 30px;
	text-align:center;
	text-decoration:underline;
}

h2
{
	text-align:center;
	color:red;
	font-style:italic;
}

h3
{
	color:blue;
}

p
{
	font-weight:bold;
	color:green;
}

a
{
	font-weight: bold;
}

h4
{
	text-align:right;
}